* { letter-spacing: 1px; }

/***************************/
/********** COLOR **********/
/***************************/
.bold__blue__text { font-weight: bold; color: #00D0FF; }
.bold__text { font-weight: bold; }
.white__text { color: #FFFF; }


/*******************************************/
/********** CONTAINER HEADER FONT **********/
/*******************************************/
@media (max-width: 570px) {
    .container__header__title { font-size: 20px; }
    .container__header__text { font-size: 17px; line-height: 30px; }
}

@media (min-width: 570px) and (max-width: 1024px) {
    .container__header__title { font-size: 23px; }
    .container__header__text { font-size: 20px; line-height: 32px; }
}

@media (min-width: 1024px) {
    .container__header__title { font-size: 25px; }
    .container__header__text { font-size: 23px; line-height: 35px; }
}


/*******************************/
/********** CARD FONT **********/
/*******************************/
@media (max-width: 570px) {
    .card__title { font-size: 17px; }
    .card__text { font-size: 15px; line-height: 30px; }
}

@media (min-width: 570px) and (max-width: 1024px) {
    .card__title { font-size: 18px; }
    .card__text { font-size: 15px; line-height: 30px; }
}

@media (min-width: 1024px) {
    .card__title { font-size: 20px; }
    .card__text { font-size: 17px; line-height: 30px; }
}


/****************************/
/*********** HERO ***********/
/****************************/
@media (max-width: 570px) {
    #hero__container > h1 { font-size: 20px;}
    #hero__container > p { font-size: 15px; line-height: 20px; }
}

@media (min-width: 570px) and (max-width: 1024px) {
    #hero__container > h1 { font-size: 23px;}
    #hero__container > p { font-size: 15px; line-height: 23px; }
}

@media (min-width: 1024px) {
    #hero__container > h1 { font-size: 25px;}
    #hero__container > p { font-size: 18px; line-height: 25px; }
}

#hero__container__buttons > a { color: #000; }