* { box-sizing: border-box; padding: 0; margin: 0; }

/*******************************/
/*******************************/
/*******************************/
@media (max-width: 570px) {
    .container__header--width { max-width: 100%; }
    .section--bmodel { padding: 20px; }
}

@media (min-width: 570px) and (max-width: 1024px) {
    .container__header--width { max-width: 500px; }
    .section--bmodel { padding: 30px; }
}

@media (min-width: 1024px) {
    .container__header--width { max-width: 600px; }
    .section--bmodel { padding: 50px; }
}